.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    color: $dark-grey;
}
.motorway, .am-road {
    font-family: $motorway;
    background-color: $motorway-blue;
}
.a-road, .b-road {
    font-family: $transport;
    background-color: $road-green; 
    color: $road-yellow;
}
.c-road {
    background-color: $road-yellow;
    color: $dark-grey;
}
.c-road, .unclassified, .data-missing {
    font-family: $transport-heavy;
}
.mapboxgl-popup-content {
    padding: 0.75rem !important;
}
.mapboxgl-popup-close-button {
    right: 0.4rem !important;
}