.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    color: #333;
}
.motorway {
    background-color: #0079c1; 
}
.a-road, .b-road {
    background-color: #00703c; 
    color: #f8e027;
}
.c-road {
    background-color: #f8e027; 
    color: #333;
}